<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<body>
<div id="main">

<div id="title">

<img id="title-img"src="https://cdn.freebiesupply.com/logos/large/2x/nirvana-1-logo-png-transparent.png">
<p>90's grunge rock band</p>
</div>

<div class="navbar">
<a class="active" href="#tribute-title">ABOUT</a> 
<a href="#discography-info">DISCOGRAPHY</a> 


</div>


<div id="img-div">
<img id="image" src="https://www.slantmagazine.com/images/made/assets/house/music_nirvana_780_440_90_s_c1.jpg">
<p id="img-caption">The members of Nirvana </p>
</div>

<h1 id="tribute-title" class="tribute-title">
TIMELINE</h1>
<div id="tribute-info">

<p class="tribute-par">
<ul>
<li>May 10, 1965 Krist Novoselic is born.</li>
<li>February 20, 1967 Kurt Cobain is born.</li>
<li>January 14, 1969 Dave Grohl is born.</li>
<li>Fall 1985 Kurt meets Krist. They play in several bands together, including Stiff Woodies.<li>
<li>December 1987 Kurt, Krist and drummer Aaron Burckhard form the original lineup of Nirvana in Aberdeen, Washington.</li>
<li>January 23, 1988 Nirvana records a 10-song demo with the “Godfather of Grunge,” legendary Seattle producer Jack Endino. Sub Pop co-honcho Jonathan Poneman hears the tape and offers to put out a Nirvana single. The band accepts.</li>
<li>October 30, 1988 Kurt smashes his first guitar.</li>
<li>June 1989 Bleach is released on Sub Pop. Nirvana embarks on a month-long U.S. tour.</li>
<li>September 25, 1990 Dave Grohl, former drummer for Washinton, D.C.’s Scream, joins Nirvana.</li>
<li>October 1990 Nirvana briefly tours England with L7.</li>
<li>Winter 1991 Nirvana signs with DGC Records.</li>
<li>August 1991 Nirvana opens for Sonic Youth on a European festival tour, which includes a landmark performance at the Reading Festival. The tour is documented in the film 1991: The Year Punk Broke.</li>
<li>September 24, 1991 Nevermind is released.</li>
<li>October 12, 1991 Nevermind is certified a gold album.</li>
<li>November 1991 The band starts a six-week European tour as Nirvanamania sweeps the United States. MTV airs “Smells Like Teen Spirit” video constantly; the song is hailed as an anthem for a generation.</li>
<li>January 11, 1992 Nevermind hits No. 1 on the Billboard 200 album chart.</li>
<li>January/February 1992 Nirvana tours Australia, Japan and Hawaii.</li>
<li>April 1992 Nirvana appears on the cover of Rolling Stone.</li>
<li>June/July 1992 Nirvana tours Europe.</li>
<li>December 15, 1992 Incesticide, a collection of B-sides and rarities, is released. It goes gold the following spring.</li>
<li>April 9, 1993 Nirvana plays a concert at San Francisco’s Cow Palace to raise awareness of and generate aid for rape survivors in Bosnia-Herzegovina. L7, the Breeders and Disposable Heroes of Hiphoprisy are also on the bill.</li>
<li>September 21, 1993 In Utero is released.</li>
<li>October 18, 1993 Nirvana starts a three-month tour of North America.</li>
<li>November 19, 1993 Nirvana tapes an all-acoustic show for “MTV Unplugged” at Sony Studios in New York. Cris and Curt Kirkwood of the Meat Puppets sit in on three Meat Puppets songs.</li>
<li>December 16, 1993 MTV airs Nirvana’s “Unplugged” show.</li>
<li>January 7, 1994 Nirvana plays the Seattle Arena. It will be the band’s last U.S. show.</li>
<li>February 6, 1994 Nirvana embarks on a tour of Europe.</li> 
</p>
</div>

<div id="discography-info">
<h1 class="disc-title">DISCOGRAPHY</h1>

<table>
<tr>
<td><img id="disc-1" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a1/Nirvana-Bleach.jpg/220px-Nirvana-Bleach.jpg"></td>
<td>
<img id="disc-2" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b7/NirvanaNevermindalbumcover.jpg/220px-NirvanaNevermindalbumcover.jpg"></td>
<td><img id="disc-3" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e5/In_Utero_%28Nirvana%29_album_cover.jpg/220px-In_Utero_%28Nirvana%29_album_cover.jpg"></td></tr>
<tr><td><img id="disc-4" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8d/Australian_Hormoaning_Cover.jpg/220px-Australian_Hormoaning_Cover.jpg"></td>
<td><img id="disc-5" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/85/Nirvana-Incesticide.jpg/220px-Nirvana-Incesticide.jpg"></td>
<td><img id="disc-6" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/54/Nirvana_mtv_unplugged_in_new_york.png/220px-Nirvana_mtv_unplugged_in_new_york.png"></td></tr>
</table>
</div>
<div id="link">
<a href="https://en.wikipedia.org/wiki/Nirvana_(band)" target=_blank id="tribute-link"> You can find more information about Nirvana here</a>
</div>



</div>
</body>
